@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FFF8DC;
    min-height: 200vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px;
    z-index: 10000;
    font-family: Verdana, sans-serif;
    background-color: antiquewhite;
}
#S1{
    display: none;
}
i{
    color: #fff;
    cursor: pointer;
}
header img{
    height: 40px;
    width: 40px;
    margin-left: 50px;
    margin-right: 10px;
    border-radius: 10px;
}
.search-box{
    flex: 1;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    border: solid black;
    border-radius: 30px;
}
.search-box input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background: #f2f2f2f2;
    border-radius: 30px;
    color: #000;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}
.search-box button{
    cursor: pointer;
    width: 35px;
    height: 30px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.9);
    background: #000;
}
header .hamburger{
    font-size: 25px;
    display: block;
    margin-right: 10px;
}
header .hamburger i{
    color: #000;
}
a, button{
    cursor: pointer;
}
header.sticky{
    padding: 5px 100px;
    background: antiquewhite;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 10%;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
header ul li a:hover{
    color: #f8bc54;
    text-decoration: underline;
}
header ul li a.active{
    color: #f8bc54;
}
.sec1{
    position: relative;
    width: 100%;
    height: 100vh;
}
.navigation{
    display: block;
    position: fixed;
    right: -500px;
    width: 165px;
    height: 50%;
    background-color: antiquewhite;
    margin-top: 0;
    margin-right: 70x;
    border: none;
    border-radius: 5px;
    box-shadow: solid#fff;
    transition: .5s;
    z-index: 9999;
}
.navigation ul{
    margin-top: 80px;
    margin-left: 10px;
}
.navigation ul li{
    color: #000;
    text-align: left;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 20px;
    border-bottom: 1 solid #fff;
    width: 160px;
    margin-top: 0px;
    margin-bottom: 1px;
}
.navigation ul li:hover{
    color: #fff;
    background-color: #f8bc54;
}
.navigation ul li a{
    color: #000;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}
.navigation ul li i{
    color: #000;
    font-size: 20px;
    padding-left: 10px;
    text-align: right;
    margin-right: 5px;
    margin-left: -10px;
}
.navigation.active{
    right: 0;
}
.hamburger.open {
    background-color: transparent;
    transform: rotate(-45deg) translate(6px 5px);
}

/* Home banner */
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.img-box{
    width: 80px;
    height: 400px;
    margin: 5px;
    border-radius: 50px;
    background: url(img/vetpic1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}
.img-box:nth-child(2){
    background: url(img/Vetpic2.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3){
    background: url(img/image\ 5.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(4){
    background: url(img/imahe.jpg);
    background-size: cover;
    background-position: center;
}
.img-box h3{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
.img-box:hover{
    width: 300px;
    cursor: pointer;
}
.img-box:hover h3{
    opacity: 1;
    bottom: 25px;
}
.banner{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 70px;
}
.content h1,
.content h3{
    font-family: 'Georgia', cursive;
    font-size: 3em;
    letter-spacing: 1px;
    line-height: 40px;
}
.content h2{
    font-family: 'Georgia', cursive;
    font-size: 3em;
    color: rgb(240, 166, 76);
    letter-spacing: 1px;
    line-height: 60px;
}
.content p{
    width: 100%;
    margin-top: 50px;
    font-family: 'Georgia', cursive;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

/* About us page demo */

.banner1 img{
    width: 30%;
    height: 500px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    gap: 1.2rem;
}
.banner1{
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

.content1{
    width: 100%;
}
.content1 h3{
    font-family: 'Georgia', cursive;
    font-size: 3em;
    color: #803D3B;
    margin-top: 30px;
}
.content1 p{
    width: 100%;
    margin-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-family: 'Georgia', cursive;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 1.2rem;
}


/* Services Page */
.banner2 img{
    width: 55%;
    height: 0%;
    border-radius: 10px;
    margin-top: 0px;
    margin-right: 50px;
}
.banner2{
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}
.content2{
    width: 100%;
    margin-left: -15%;
}
.content3{
    width: 100%;
    margin-right: -5%;
    margin-top: 25px;
}
.content2 h3{
    font-family: 'Georgia', cursive;
    font-size: 3em;
    color: #803D3B;
    margin-top: 0%;
}

.content2 p{
    width: 100%;
    margin-top: 25px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-family: 'Georgia', cursive;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 1.2rem;
}

/* Book Now Page */
.appointment{
    display: flex;
}
.register{
    width: 100%;
    max-width: 650px;
    height: 50vh;
    padding: 0 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;;
    margin-left: 210px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(134, 134, 134);
    box-shadow: 0 0 30px rgb(0, 0, 0);
}
.sched-table{
    width: 100%;
    margin-top: 80px;
    margin-left: 30px;
}
.sched-table h2{
    text-align: left;
    font-size: 40px;
    font-family: 'Georgia', cursive;
    font-size: 3em;
    color: #803D3B;
    letter-spacing: 1px;
    margin-left: 303px;
    margin-top: 33px;
}
.sched-table h4{
    margin-top: 50px;
    color: #803D3B;
    font-family: 'Georgia', cursive;
    font-size: 25px;
    margin-left: 350px;
}
.sched-table p{
    margin-top: 10px;
    color: #000;
    font-family: 'Georgia', cursive;
    font-size: 20px;
    text-align: left;
    margin-left: 400px;
}
.title-form{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: #f8bc54;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
}
.input-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 0;
}
.user-input:nth-child(2n){
    justify-content: end;
}
.user-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    width: 32%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 15px;
}
.user-input label{
    width: 95%;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    margin: 5px;
}
.user-input input{
    height: 30px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}
.doc-details select{
    height: 30px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}
.form-submit input{ 
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: -5px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: bisque;
    color: #f8bc54;
}
.form-submit input:hover{
    background: #f8bc54;
    color: black;
    
}
.form-submit {
    margin-top: -20px;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top: 100px;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .navigation{
        display: block;
        width: 100px;
        text-align: center;
        font-size: 50px;
    }
    #S1:checked ~ ul{
        right: 0;
    }
}
@media(max-width: 600px){
    header .logo{
        margin-left: 8;
    }
    header ul{
        width: 100%;
    }
}
/* Book Now media */
@media(max-width: 600px){
    .register{
        min-width: 200px;
    }
    .user-input{
        margin-bottom: 12px;
        width: 100%;
    }
    .user-input:nth-child(2n){
        justify-content: space-between;
    }
    .input-info{
        max-height: 300px;
        overflow: auto;
    }
    .input-info::-webkit-scrollbar{
        width:  0;
    }
    }

@media screen and (mas-width: 600px)
{
    .content h1,
.content h3{
    font-family: 'Georgia', cursive;
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 50px;
    }
}

@media screen and (max-width: 600px) {
    .search-box input {
        width: 100%;
        height: 30px;
        border: none;
        outline: none;
        background: #f2f2f2;
        border-radius: 30px;
        color: #000;
        font-size: 1em;
        text-align: center;
        padding: 0.9em 0.9em;
    }

    .search-box button {
        cursor: pointer;
        width: 2.5em;
        height: 30px;
        border-radius: 30px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        transform: scale(0.9);
        background: #000;
    }
}

@media screen and (max-width: 1000px) {
    header ul {
        margin-left: 5%; 
    }
}

@media(max-width:1000px){
    header ul{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: antiquewhite;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }

    header ul a{
        display: block;
        margin: 18px 0;
}

    header ul.open{}
}

@media(max-width: 1000px){
    .container{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -100px;
    }
}

.footer{
    background: antiquewhite;
    text-align: center;
    margin:0;
    box-sizing: border-box;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #803D3B;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
    
}

.footer .share a:hover{
    background-color: #f8bc54;

}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
    font-family: 'Georgia', cursive;
    font-size: 1.5rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color: #803D3B;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background-color: #f8bc54;
}

.footer .credit{
    font-size: 1.5rem;
    color: 803D3B;
    font-weight: lighter;
    padding: 1.5rem;
    color: #803D3B;
    font-family: 'Georgia', cursive;
}

.footer .credit span{
    color: #803D3B;
}

/